<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="app-logger" packages="com.revature">
    <Properties>
        <Property name="filename">logs/app.log</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>



    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %c{1.} - %msg%n"/>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Appender>
        <Appender type="Console" name="FLOW">
            <Layout type="PatternLayout" pattern="%C{1}.%M %m %ex%n"/><!-- class and line number -->
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Appender>
        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </Appender>

    </Appenders>

    <Loggers>
        <Logger name="org.apache.logging.log4j.test1" level="debug" additivity="false">
            <Filter type="ThreadContextMapFilter">
                <KeyValuePair key="test" value="123"/>
            </Filter>
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.apache.logging.log4j.test2" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>



<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<Configuration status="WARN">-->
<!--    <Appenders>-->

<!--        Console Appender-->
<!--        <Console name="stdout" target="SYSTEM_OUT">-->
<!--        &lt;!&ndash; Pattern of log messages for the console appender &ndash;&gt;-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--            <PatternLayout pattern=""/>-->
<!--        </Console>-->

<!--        &lt;!&ndash; File Appender &ndash;&gt;-->
<!--        <File name="info_fileout" fileName="src/main/resources/info_log.txt" append="true">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </File>-->

<!--        <File name="trace_fileout" fileName="src/main/resources/trace_log.txt" append="true">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </File>-->

<!--        <File name="error_fileout" fileName="src/main/resources/error_log.txt" append="true">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </File>-->

<!--    </Appenders>-->

<!--    <Loggers>-->

<!--        <Root level="ALL">-->
<!--            <AppenderRef ref="stdout"/>-->
<!--        </Root>-->

<!--        <Logger name="com.revature" level="ALL">-->
<!--            <AppenderRef ref="error_fileout" level="ERROR"/>-->
<!--            <AppenderRef ref="info_fileout" level="INFO"/>-->
<!--            <AppenderRef ref="trace_fileout" level="TRACE"/>-->
<!--        </Logger>-->

<!--    </Loggers>-->

<!--</Configuration>-->


